[2018-04-20 12:00] PerrineGilloteaux opened #15 "Wiki: Lando start"
In Updating the Site (routine procedure!), the mention to lando start , (to launcg the app ) is missing.
Can you add it saying also that http://bisescratch.lndo.site/ should now be available in the navigator?

[2018-04-20 12:15] PerrineGilloteaux opened #16 "question updating edam in production?"
- solution 1: do it directly on the data base (after testing locally) from Florian's Script.
- solution 2: taxonomy terms are content (module structured sync)
tested by Kota? procedure complex
Which one should be preferered

[2018-04-20 12:58] PerrineGilloteaux opened #17 "defining List of test before accepting pulling"
minimal list of test to be performed before accepting pulling to master:
site refer to local installation :
test 1  site/soft should return a json formatted list of software
To be continued...

[2018-04-20 15:01] miura commented on #15
@PerrineGilloteaux  OK I will add these steps to the wiki.

[2018-04-20 15:10] miura commented on #16
I tested the **solution 2**, and think that the procedure is complex as data flows through multiple layers:

Webprotege / bio.tool > Github / sturctured_sync text files > inject into database via drush commands > import to taxonomy via drush commands.

**Solution 1** is more straightforward (if my understanding is correct - please check @florian-levet ):

Webprotege / bio.tool > text file >  injec

[2018-04-25 09:42] miura commented on #15
https://github.com/NeuBIAS/bise/wiki/BISE-development/be1cb28c2f909b9812b7fa59259b2f879630c372

[2018-04-25 09:42] #15 closed

[2018-05-07 14:34] #16 closed

[2018-05-15 16:58] PerrineGilloteaux opened #23 "lost in origine/dev etc... update"
Hi @miura  and @vcaldas we (at least Alban, my self and Florian) are completely lost with git: Origin vs Upstream, where are my commit gone, why are then appearing on your name, how can I cancel local modification not committed. Can you help us with a specific wiki page about the procedure?
For example I did 2 commit (one about the first proposal for training model, that i now need to edit based o

[2018-05-15 17:03] PerrineGilloteaux commented on #23
using sync on github windows GUI I manage to be up to date now, but I did not understood why...

[2018-05-15 17:36] miura commented on #23
Hi @PerrineGilloteaux  @albangaignard @florian-levet

I don't have access to your machine but just a guess: did you push commits from OVH:test/ directory (the root directory of test.biii.eu) to neubias/bise ? Never push to github from OVH server. Only pull, as the server is normally ony at the downstream.

For this hackathon, I suggested transferring files that were modified in OVH server under <r

[2018-05-15 17:50] PerrineGilloteaux commented on #23
Thanks! very helpful.
I did indeed the push from test server because my computer was the only
one set up with docker and lando working, and  my computer was used to
work on another commit, so I gave the priority to have granular commit
because I did not know how it was going to merge the two config export.
Now I m thinking that I could have done that also by commit add only the
change of interest

[2018-05-15 17:59] miura commented on #23
Hi again,

OK, so as I expected.

If you need to commit changes in the test server, then change the user name first in <root>/test so your commits will not appear with my name:

[code]
use the same email address that you are using for Github account. Then commits will be recorded with your name in the test server and appears also in Github linked to your account.

change of interest in two times?

[2018-05-15 18:28] miura commented on #23
@PerrineGilloteaux
I changed the commit author to you, as I don't want to believe I committed those changes while I was selecting apples in a supermarket.

[2018-05-15 21:39] PerrineGilloteaux commented on #23
😂Le 15 mai 2018 7:28 PM, Kota Miura <notifications@github.com> a écrit :@PerrineGilloteaux
I changed the commit author to you, as I don't want to believe I committed those changes while I was selecting apples in a supermarket.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-05-16 09:11] #23 closed

[2018-05-18 09:00] vcaldas commented on #17
I guess we should have only few people allowed to push to Master.
Master = Production, so it has to be running smooth on the pc before.

Maybe we have to implement a series of automated test routines, but I neved done that...

[2018-05-18 09:59] miura commented on #17
Hi @vcaldas , current test run by Travis is off-the-shelf tool for Drupal but it might be OK with this. For low-level problems such as php coding and so on is captured by this test.

We need to decide who are the admins.

By the way, I directly pushed recaptcha addition & activation yesterday, as there was a storm of registration by bots from servers in U.S, in the last minute it was like every 10

[2018-05-18 10:07] miura opened #24 "creating cambridge branch"
Hi @PerrineGilloteaux

I saw your additions to "training material" type in `dev` branch. It seems that it's already functioning to some extent, but is it OK to create a new branch `cambridge` and keep those test-changes there? I will also put the `dev` into original status without those additions. This is for practical reason, that it's quite a work for merging new changes in `dev` from `master` e

[2018-06-04 13:33] miura opened #25 "Find a new theme to replace Zircon"
Theme "Zircon" is not supported anymore. As our theme is based on Zircon, we need to replace it with another theme.

![zirconterminated](https://user-images.githubusercontent.com/272781/40920367-9edbe3b6-680c-11e8-9aba-b44ef5bf112a.png)

For more details, see [the web page of zircon](https://www.drupal.org/project/zircon).

Quote:

This module is unsupported due to a security issue the maintainer

[2018-06-04 13:41] miura commented on #25
One candidate is [Bootstrap theme](https://www.drupal.org/project/bootstrap), which is bridging the [Bootstrap Framework](http://getbootstrap.com/) and Drupal. This is the base theme, and there are several themes based on this with ready-to-go style setups. For example, see this page:

  [Top 10 free bootstrap based Drupal themes](https://www.vardot.com/en/blog/top-10-free-bootstrap-based-themes-d

[2018-06-04 13:56] miura commented on #24
As there is no objection for two weeks, I will set test.biii.eu as the `cambridge` branch (as it is, in a sense but the branch name changes) and leave the `dev` branch for further development without test-changes in teaching material related fields.

[2018-06-05 10:15] vcaldas commented on #25
I like the "Tweme" and also the "showcase_lite"

[2018-10-01 13:34] PerrineGilloteaux commented on #25
Apparently the zircon has been solved and has found a new maintainer and the problem was actually for D7 (and erroneously reported for D8) https://www.drupal.org/project/zircon/issues/2976313

[2018-10-01 13:35] PerrineGilloteaux commented on #25
I m updated on dev the drupal core version and other security issue and will check if the warning is still here

[2018-10-17 10:05] vcaldas commented on #25
@PerrineGilloteaux Any uptade in this issue?

[2018-10-18 13:39] #24 closed

[2018-10-18 13:40] vcaldas commented on #17
Is this part of the tutorials? We might close this issue and open new ones with more clear tasks. @PerrineGilloteaux @miura

[2018-10-18 14:13] miura commented on #17
yes, this is rather a general issue. let's close.

[2018-10-18 14:13] #17 closed

[2018-10-18 17:07] vcaldas opened #36 "Create script to configure Bise dev environment"
The script should contain:
Git setup
Lando download
Lando installation

[2018-10-18 17:09] vcaldas opened #37 "Automated database configuration"
After the user receives the latest dump database,
the script should perfom all the actions to launch Bise

[2018-10-18 17:09] vcaldas opened #38 "Automated update"
Script to fetch the latest updates and update the local environment.

[2018-10-18 17:19] vcaldas opened #39 "Delete Cambridge Branch"
@miura @PerrineGilloteaux

If the work in that branch is done, we should delete it.
Should I delete it?

[2018-10-18 17:42] miura commented on #39
Deleted.

[2018-10-18 17:42] #39 closed

[2018-10-19 09:20] florian-levet opened #43 "Images of entries not displaying"
It seems that a lot of images of the entries of bii.eu are not shown anymore, like if the link to them is missing

[2018-10-19 09:34] PerrineGilloteaux commented on #43
ACTUALLY NONE of them is showing.
(only the one in your navigator cache...)

https://biii.eu/sites/default/files/ NOT accessible??
@miura it is likely related to the .htaccess?
It is actually the same with test.biii.eu.
We did not notice because images were in the cache.

[2018-10-19 11:29] miura commented on #43
partially fixed: partially means that images in biii.eu should now be appearing - but images in test.biii.eu and for the local copies are not. I think the priority for the production site is higher so I did like this. I will investigate what is wrong with redirections. -- and will report more details.

[2018-10-19 14:51] miura commented on #43
I cannot figure out a good way to create a condition applicable to both the production and the development environment. `.htaccess` is currently set differently in these two environments.

in test.biii.eu and in the local, following line redirects access to images to the production site.
[code]

In the production site, this line is commented out to avoid the infinite loop of redirection. There sho

[2018-10-19 16:19] vcaldas commented on #43
We can try adding the file to .gitignore. Then we can keep both copies separated.

[2018-10-19 17:03] miura commented on #43
yes. So I added web/.htaccess and .gitignore itself to .gitignore in the production site. Just for us to keep this in mind!

[2018-10-19 21:38] vcaldas commented on #43
I'm not sure that adding the .gitignore file in it is the right approach. Gitignore is a reserved file where we just add the files to be ignored. Otherwise, the updates will ignore the gitignore file. 😅

[2018-10-23 00:42] miura commented on #43
I understand your concern - but let's keep it as a temporal solution. `production` branch is in the downstream of other branches, and updates in web/.htaccess is only ignored in biii.eu htacess. Limitation is that when this file is updated in local or other branches for different reason, it will not be reflected in the production site. We just need not to forget this.

[2018-10-23 00:44] miura opened #44 "Proposal: use structure sync to track Taxonomy term, Menu and custom block updates."
@florian-levet @PerrineGilloteaux @vcaldas

please comment.

# Updating the workflow for taxonomy terms

Kota

20181023

## Current way of Adding, Editing, Weighting Taxonomy Terms

Up until October 2018 Taggathon, taxonomy terms incuding BISE ontology was handled in the following way.

- Addition: New terms were transferred and added from Webprotege to biii.eu.LocalCopy using python script (Flori

[2018-10-23 13:52] miura opened #45 "CRON Error Could not delete temporary file"
The following error appears for every CRON run.

[code]

Need to work with sql-cli to get rid of this.

https://www.drupal.org/project/drupal/issues/2802803

[2018-10-23 13:56] miura commented on #43
I let this issue opened again.

[2018-10-23 13:58] miura commented on #43
here is the solution that works. I will PR this to `dev` later, and then to `master` and `production`.

[code]

based on the description from [here](https://support.acquia.com/hc/en-us/articles/360007322714-Serving-files-from-production-on-development-environments)

[2018-10-29 13:48] miura opened #46 "bise wiki development"
@vcaldas

I updated the development wiki page

https://github.com/NeuBIAS/bise/wiki/BISE-development#development-custom-theme-bise

I separated it into three big sections

- installation procedure
- how to develop
- actual development examples

This is just to notify - and there still are many typos but please ignore those at the moment. By the way, internal linking does not work - is there a good

[2018-10-29 18:34] vcaldas commented on #46
Cool! I'll take a look and check on the links. I remember being possible.

[2018-12-22 23:39] miura opened #47 "Accessing menu from mobile phone does not trigger the drop-down."
There seems to be some solution to it.

https://www.drupal.org/project/zircon/issues/2952980

If the problem persists after upgrading Zircon to the latest version, the patch above should be applied.

[2019-01-13 17:37] miura commented on #47
patching twig should do the fix
https://www.drupal.org/project/zircon/issues/2952980

[2019-01-24 14:33] PerrineGilloteaux commented on #47
Hi Kota, thanks. We will test it for the update proposed next week.

[2019-01-28 12:22] PerrineGilloteaux opened #48 "Error on taxonomy menu with update to 8.6.7 drupal core"
This issue comes from 2 bugs in the taxonomy_menu , only one has been fixed by patch so better to stick to taxonomy menu 3.3 (see composer json commit in fork from me and Chong), will be "pull requested soon"

[2019-01-31 15:54] czhci opened #49 "Search index"
for example skeletonisation search should return ncutw sifwtare, it is only in the 'function'/operation tag which should be indexed.

[2019-01-31 15:54] czhci commented on #49
it seems to have been solved in some local forked versions. needs verify this.

[2019-01-31 15:55] czhci opened #50 "ADD the total number of search results, in total number of pages"

[2019-01-31 15:57] czhci opened #51 "Style on "read more""
http://biii.eu/taxonomy/term/3568: when it comes to a list like this (e.g. after any search, and then click on any term, we will get such list), when we would like to click the item to reach its own page, the only place to do this is "read more", which makes sense, but it is not in an obvious place to reach easily. fix this?

[2019-01-31 15:59] czhci opened #52 "duplicated display of the same entry several times"
when did this "overlay" advanced search (http://test.biii.eu/all-content?field_type_target_id=All&field_has_function_target_id=4097&field_has_topic_target_id_1=All&field_has_interaction_level_target_id=All&field_license_openness_target_id=All&field_has_programming_language_target_id=All&title_1=), it returned three items of MaMuT, when clicking in, they all point to the same page. why showing thre

[2019-01-31 15:59] czhci commented on #52
another example is in Taggers panel.

[2019-01-31 16:01] czhci opened #53 "make batch_tagging page more accessible? e.g. on home page??"

[2019-01-31 16:25] czhci opened #54 "search block is not accessible from mobile version"

[2019-01-31 16:28] czhci opened #55 "replace node number in URL to meaningful text, for training material, etc? (now only for software content type)"

[2019-01-31 16:35] czhci opened #56 "links under the "category" are only linked to the main page."
we should add their corresponding pages: training material (XX), software (XX), etc.

[2019-01-31 17:38] miura commented on #54
This is a duplicate of #47
search block will become available when the drop-down menu ("hamburger") becomes unlocked.

[2019-01-31 18:05] miura commented on #48
Hi @czhci @PerrineGilloteaux

yes, please pull request that commits, specifically for composer.json!

[2019-01-31 18:08] PerrineGilloteaux commented on #48
I did a pull request to dev

[2019-01-31 22:30] miura commented on #44
see miura@1b5a3645e541ac709d96a1186a81679c1a8a757b for and example structure_sync.data.yml

This was the status in October.

[2019-01-31 23:33] miura commented on #48
Hi @PerrineGilloteaux , I found your commit
PerrineGilloteaux@90b5a14bdca5ad61e7a49e753663a6830858ea77 , thanks, however,

1. I think you did not pull request to NEUBIAS/bise, but this is OK because
2. this commit also has changes to .htaccess file which is not related. These two changes should be two different commits

As the change in composer.json is just a deletion of a char, I will do it sepa

[2019-02-01 00:20] miura commented on #48
done: ad771be7de0b8cae2bfc64bfa395bbcf537bbcb3

[2019-02-02 11:17] PerrineGilloteaux commented on #52
Note that this is not happening in my working directory of local branch taggathonLuxembourg , which at commit 20e85098bbbd4b4f629a3ffdcc4204bc1fe0ac87 is a clone of neubias/bise dev and master (apart settings.php, I had some database access problem): there is no duplicate and it is going far more faster , even with the exact same database. @miura did you do the config import as well while deployin

[2019-02-02 11:48] PerrineGilloteaux commented on #52
Additional info: I ve cleared my browser cache and the Biii.eu cache as well. Still no difference. Once difference that I can see is that the database update has apparently not be done on biii.eu. Did you run updatedb on the main server @miura ?

[2019-02-03 10:34] PerrineGilloteaux commented on #52
Working on production site biii http://biii.eu/all-content?field_type_target_id=All&field_has_function_target_id=4097&field_has_topic_target_id_1=All&field_has_interaction_level_target_id=All&field_license_openness_target_id=All&field_has_programming_language_target_id=All&title_1=
(@kota the test site is ahead of dev, so I did not touch, could you checked?) The Duplivcate output was solved by upd

[2019-02-03 13:42] #48 closed

[2019-02-03 14:10] miura commented on #47
I will update Zircon to the latest one to see if this problem persists.

[2019-02-03 16:10] miura commented on #54
Production site is fixed.

![685659b7-3615-43ac-85ce-20e033428345](https://user-images.githubusercontent.com/272781/52179070-fbf27900-27d5-11e9-98e7-84fe362703ec.png)

This actually is a kind of bug, that the first sidebar seems to be taken out in mobile-mode as the setting in themes/contrib/zircon/css/responsive.css is like that.

![4289ae7c-4256-4bb2-814c-559d9729d7e0](https://user-images.github

[2019-02-03 16:11] miura commented on #54
... and I also found that this is nothing to do with the mobile menu icon not responding..

[2019-02-03 16:11] #54 closed

[2019-02-03 16:37] miura commented on #54
https://www.drupal.org/project/zircon/issues/2704809

[2019-02-03 16:46] miura commented on #47
I updated Zircon to the latest 8.x-1.2 but there is some bug and Drupal crashes.

[code]

[2019-02-04 10:08] miura commented on #25
https://github.com/NeuBIAS/bise/issues/47#issuecomment-460067519

[2019-02-04 16:50] PerrineGilloteaux opened #66 "Getting track of menu changes"
When Editing menu, they are not track by config-export. We need to find a way to track this

[2019-02-04 17:33] PerrineGilloteaux commented on #44
ok, some patch pending and open issue, maybe not ready for using .. Let's Watch the next version, for now not ok.

[2019-02-04 18:10] czhci opened #69 "Add comment broken"
The website encountered an unexpected error. Please try again later.</br></br><em class="placeholder">Drupal\Core\Entity\EntityStorageException</em>: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry &#039;377-0-0-en&#039; for key &#039;PRIMARY&#039;: INSERT INTO {comment__comment_body} (entity_id, revision_id, bundle, delta, langcode, comment_body_value, comment_body_format) V

[2019-02-04 18:46] miura commented on #66
related: #44

[2019-02-05 09:30] matuskalas opened #70 "Bug in expanding the taxonomy"
Now with EDAM alpha04 in BIII/BISE:

+ Operation
   -> Alignment construction
                   Here it should continue expanding further to Image registration
                   The taxonomy exists correctly in BIII/BISE
                   But it cannot be expanded in BIII/BISE

[2019-02-05 11:21] PerrineGilloteaux commented on #70
actually this is a kniown bug in Drupal 8.6.x https://www.drupal.org/project/drupal/issues/2997960

[2019-02-06 12:19] PerrineGilloteaux commented on #56
It was a bug in the link (no/ should have been set).

[2019-02-06 13:35] PerrineGilloteaux commented on #53
The batch tagging page is hidden in purpose, it can be very Dangerous meaning that you can modify every softre entry at once…
Maybe Adding it only for administrators? Or displaying only the entry that a curator has Added him or herself?

[2019-02-06 13:37] PerrineGilloteaux commented on #25
a new theme is been tested together with Felipe Delestro, it is on development on the branch newmockup.

[2019-02-06 13:39] PerrineGilloteaux commented on #45
@miura any news for it?

[2019-02-06 14:42] PerrineGilloteaux commented on #50
proposed in the pull request in Addingnewworkflow

[2019-02-06 14:44] PerrineGilloteaux commented on #47
actually the button works, but the area where you can click is very small! (at the bottom of the button menu)

[2019-02-06 14:50] PerrineGilloteaux commented on #47
In dev branch version, the menu button is working. The #54 issue was solved by kota for the search bar, (to be edited locally if you want to reproduce)

[2019-02-06 15:35] matuskalas opened #72 "Switch to EDAM alpha05 - Needed curation afterwards"
There have been 1 concept that changed from Operation to Topic in EDAM alpha05, and changed ID!:
- [ ] Neuron image analysis. Update entries by adding it as hasTopic in BISE/BIII:
        - Paintera, Rivulet 2, Aivia, CEM, VMTK: Vascular Modeling Toolkit, Neurite Tracer, Simple Tracing DF-Tracing, nctuTW, Reconstruct, JFilament

And 2 removed:
- [ ] Interactive segmentation. Replace by Interaction

[2019-02-06 16:27] matuskalas commented on #72
And notes for the ongoing alpha06_dev developments:
(No action in BISE/BIII needed soon!)

Concept that changed wrong ID from EDAM alpha01-alpha05:
- Region of interest

Concept to double-check (WebProtégé bug|feature):
- Multimodal imaging

Removed:
- none yet

[2019-02-06 21:44] PerrineGilloteaux commented on #70
The limitation happen for term with MULTIPLE PArents: for example image registration had also the image processing parent. (where you can find it then) http://biii.eu/image-registration.
So it is a limited bug but still a bug. The new taxonomy menu module may solved it, but the 3.4 version was buggy soi let's wait a little bit..

[2019-02-06 21:48] PerrineGilloteaux commented on #69
Hi, I ve posted the question here, I am surprised that we are the only ones with this bug…
([https://www.drupal.org/forum/support/post-installation/2019-02-06/fix-an-integrity-violation-with-comments-in-drupal-867](https://www.drupal.org/forum/support/post-installation/2019-02-06/fix-an-integrity-violation-with-comments-in-drupal-867))

[2019-02-06 23:45] matuskalas opened #73 "Show DAG structured EDAM == multiple "parents""
EDAM is a directed acyclic graph (DAG).

BIII/BISE EDAM widget doesn't show all the "occurences" of a concept with multiple "parents".

E.g.:
- Image segmentation is only listed under Image processing, but not also under Image analysis
- Frequency analysis is only shown under Image processing, but not also under Analysis

[2019-02-07 15:33] haesleinhuepf opened #74 "BISE search in ImageJ/Fiji"
Dear *,

I'm following up a discussion during the NEUBIAS conference. There is a search plugin for Fijis search bar, which allows searching in the BISE online database:
https://github.com/scijava/scijava-search/blob/master/src/main/java/org/scijava/search/web/BISESearcher.java

It is at the moment deactivated because of an issue in the website (its HTML is no valid XML) because of a missing slash.

[2019-02-08 10:49] PerrineGilloteaux opened #75 "Common error with Lando/composer and corrections"
- Message such as /app/xx not found with lando .
Solution: restart docker and lando
- Message such as Connection to SQL database impossible (with lando drush cr for example) -> Solution: check your .env and your settings.local.: credential to your local database may not be correct .

[2019-02-22 07:58] PerrineGilloteaux commented on #69
Updating Drupal core to 8.6.10 AND rebuilding the permissions (admin/reports/status/rebuild) corrected the bug for me locally.

[2019-02-25 13:19] PerrineGilloteaux commented on #50
waiting PR https://github.com/NeuBIAS/bise/pull/71

[2019-02-25 13:20] PerrineGilloteaux commented on #74
waiting deployment

[2019-02-25 13:24] PerrineGilloteaux commented on #55
See commit 501426b3e41cb2d54cc20f669e5403b87f0e8ce5

[2019-02-25 13:26] PerrineGilloteaux commented on #72
Hi @florian-levet
any updates on the update?

[2019-02-25 13:31] PerrineGilloteaux commented on #56
commit e786f46c0f67bedf0c2f29f3c8e621420bfc2191

[2019-02-25 13:32] #74 closed

[2019-02-25 13:32] #69 closed

[2019-02-25 13:33] #50 closed

[2019-02-26 00:05] miura commented on #75
This is due to the miss-configured .lando.yml, or missing of the file itself. See https://github.com/NeuBIAS/bise/pull/71#issuecomment-466382476

[2019-02-26 00:05] #75 closed

[2019-02-27 17:38] Leandroscholz opened #77 "Workflow entries behaviour and suggestions"
Dear team,
@PerrineGilloteaux  @miura @czhci,

I added about 9 new workflows and a bunch of components/collections on bise this week (used in BIAFLOWS) and I noticed a few issues and undesired behavior when adding them.
1) ``previous workflow step`` autocompletes to existing biii.eu nodes, but it should (I assume) trace back to existing steps in the workflow being described.
2) ``current workflow

[2019-02-27 18:53] PerrineGilloteaux commented on #77
Hi Leandro sorry the version is not updated yet on prod...

[2019-02-28 08:34] Leandroscholz commented on #77
@PerrineGilloteaux  oh, ok then. Sorry! How is that working on dev? Maybe I should set things up in my pc to check it.

cheers,
Leandro.

[2019-02-28 09:54] florian-levet commented on #72
Hi,
After modification of the script, it seems to work. I will do a couple of tests today and tomorrow and will update you. But it should be ok this week.

[2019-03-04 00:56] miura commented on #25
The warning for the Zircon version is now gone. I think it's fixed, but let's keep the Bootstrap theme in `newmockup` as a candidate for the renewal (a new issue).  I close this isse for now.

[2019-03-04 00:56] #25 closed

[2019-03-04 00:57] miura opened #79 "A new theme"
A possible candidate theme, to replace Zircon is in the `newmockup` branch. Please test and comment.

[2019-03-05 02:00] miura commented on #47
The bug fix is now in the pull request to the `dev`

https://github.com/NeuBIAS/bise/pull/80

[2019-03-07 16:16] miura commented on #77
Hi @Leandroscholz

http://test.biii.eu/

is now in the latest status. Please check if your issues are still the issue...

Kota

[2019-03-07 16:19] miura commented on #47
it's now in http://test.biii.eu/

@czhci @PerrineGilloteaux  could you test on your mobile phone? If it's OK, go for production.

[2019-03-07 17:01] miura opened #81 "Tagger page error"
Taggers page is causing some error:

http://biii.eu/taggers?page=0&sort_by=name&sort_order=ASC

![image](https://user-images.githubusercontent.com/272781/53974265-89412a00-4102-11e9-91c0-002572cde5d3.png)

![image](https://user-images.githubusercontent.com/272781/53974479-f228a200-4102-11e9-9f35-f439123cc627.png)

[2019-03-07 17:06] miura commented on #45
Now fixed with the following command (for the production database)

`drush sql:query "delete from file_managed where filename = 'neubiaslogo_Beq_icon.ico'"`

[2019-03-07 17:06] #45 closed

[2019-03-07 17:16] miura commented on #56
Now deployed, but is this OK that clicking any of the category goes always to http://biii.eu/all-content ? Not a list of pages for a specific category? @PerrineGilloteaux @czhci

[2019-03-07 17:38] miura opened #82 ""Workflow Steps" editing is better be limited to "workflow type""
Collections and Components types do not need (or cannot have) workflow steps, so it's better be limited to the workflow type.

![image](https://user-images.githubusercontent.com/272781/53976813-0c18b380-4108-11e9-9056-b280905a3be6.png)

In addition, it's better be folded like other items.

[2019-03-07 17:47] miura commented on #82
I will push "folding" capability like below at some point.

![image](https://user-images.githubusercontent.com/272781/53977477-60706300-4109-11e9-9ebd-8e76e7dec5a1.png)

... still not sure how to make this appear selectively for workflow types.

[2019-03-07 18:06] miura commented on #77
Just now looking at how this "workflow steps" is working.

My opinion is that there does not have to step numbers - treat it as just a list of components, roughly in the sequence of appearance.

The major reason is that the majority of workflows are not a single path. Multiple paths applied to different channel images and sometimes even some feedback loop. For knowing the outline of the workflow,

[2019-03-07 18:22] miura commented on #82
Related: #77

[2019-03-07 20:47] PerrineGilloteaux commented on #56
For now it was a quick fix where people can choose to show only one category

[2019-03-08 00:35] miura commented on #82
maybe this module

https://www.drupal.org/project/conditional_fields

[2019-03-08 00:51] miura opened #83 "Execution Platform"
We need another choice "All". I often need to click 3 times to select all Win, Mac, & Linux.

![image](https://user-images.githubusercontent.com/272781/53999681-9e3ead00-4144-11e9-912a-3be518e0daf2.png)

[2019-03-08 16:15] miura commented on #70
Shall we anyway update taxonomy menu @PerrineGilloteaux ? The dev version is pretty fresh.

[2019-03-08 16:21] miura commented on #55
It looks like this is not done yet.

For example, taking colocalization training material from the list

   http://biii.eu/all-content?type=book&field_type_target_id=All

Then the URL shown is

   http://biii.eu/node/1451

[2019-03-08 16:35] PerrineGilloteaux commented on #55
http://biii.eu/3d-colocalisation [1]

Actually (and it is the same with software entry or dataset entries) the
first time you enter it, the nice path plugin is not ran, it is ran only
second time you open it for edition.

So the problem is: trying to understand why not run at the first
creation, but only at the first edition.

Links:
------
[1] http://biii.eu/3d-colocalisation

[2019-03-08 21:42] miura commented on #55
@PerrineGilloteaux I just now tried reindexing Pathauto (see below): It does then work in my local to generate aliases automatically. As this updating is not config-exportable, I will directly do it in the production site after pulling recent updates... so it's better be done from time to time.

![image](https://user-images.githubusercontent.com/272781/54057267-b967f600-41f2-11e9-9e5b-ac0b79a9c9c4

[2019-03-08 21:42] #55 closed

[2019-03-09 01:45] miura commented on #47
now in the production.

[2019-03-09 01:45] #47 closed

[2019-03-09 18:02] miura commented on #81
It seems that the problem happens because "Family name" and the "User name' are both "Name". I will try to fix this.

[2019-03-14 10:23] PerrineGilloteaux opened #85 "Permission rights to be changed for anonymous"
Some fields are not visible to anaonymous (not logged in) users: for example requires, programming language. I do not think it make sense.

[2019-03-14 22:55] miura commented on #82
For a newly created node, "workflow steps" appears by default even without any editing for these fields. It should be an opt-in field by the editor for components and collection nodes.

![image](https://user-images.githubusercontent.com/272781/54396793-7c00de00-46b4-11e9-944b-ee645bbe35f7.png)

[2019-03-22 17:58] miura commented on #85
I just now tried unlogged (the anonymous mode in Chrome) and looks OK:

![image](https://user-images.githubusercontent.com/272781/54843282-51c2a800-4cd4-11e9-8b68-eb7d2186fb28.png)

What is the environment that you accessed biii? Maybe dependent on the browser.

[2019-08-23 10:23] PerrineGilloteaux opened #87 "Implementing correctly the GDPR when registering as tagger"
protection of natural persons with regard to the processing of personal data and on the free movement of such data: General Data Protection Regulation :
https://ec.europa.eu/info/law/law-topic/data-protection/reform/rules-business-and-organisations/principles-gdpr/what-data-can-we-process-and-under-which-conditions_en

We need to add these information (why we ask it, what would be display, etc..)

[2019-08-23 10:27] PerrineGilloteaux opened #88 "Training search and results"
**Either** doing a view for Search for training with field displayed adapted, **either** adding Topics Covered from Training in the field operation displayed in the table.
Topics covered use the bio Imaging edam ontology, but is not searchable in Advanced serch, and not displayed in the result view.
http://biii.eu/2d-image-processing-and-data-analysis-matlab
http://biii.eu/all-content?type=book&fi

[2019-08-23 10:39] PerrineGilloteaux opened #89 "Page to be curated"
This page should be reviewed. This page only disaply for confirmed taggers (the only ones who can modified somebody else entry), which is good. Now it allow a search (ugly  Pb #1 : to be enhanced (sorter) see https://github.com/NeuBIAS/bise/issues/90 ) , but it should also display the total number of tool not meeting the minimal criteria and allow to click on this number to go to the list of it. T

[2019-08-23 10:42] PerrineGilloteaux opened #90 "Search aspect in the "to be curated" page"
http://biii.eu/tag-me-
Note that this page appears only for confirmed taggers)
The fields to sort the Tools and find the one to curate are exposed to the user for search, but the search design/aspect is not ergonomic. I found no way to play on this.
The same apply to the "batch tagging" possibility (hidden page for admins only).

[2019-08-26 10:43] PerrineGilloteaux opened #91 "Categoory Counting count also UNPUBLISHED data , not only PUBLISHED data"
On the home page, the block counting the number of Tools also count the unpublished content, leading to an inbcoherent number of Tools: e.g 140 workflows vs 133 in reality)

[2019-08-26 11:02] PerrineGilloteaux commented on #81
The view biii.eu/taggers is not used anymore, it has been replaced by http://biii.eu/show-taggers.

[2019-08-26 11:02] #81 closed

[2019-08-26 11:05] PerrineGilloteaux opened #92 "Personal tagger page CURATED tab does not show enough information"
It shows only new entry cretaed by a tagger, but not the one modified from somebody else or any comment done. It is then underestimating the work of taggers. (example) http://biii.eu/user/1 when I did modify Acquiarium entry)

[2019-08-26 13:38] PerrineGilloteaux opened #93 "typo in view name"
the view http://biii.eu/training-view should be named list of training.

[2019-08-26 13:43] PerrineGilloteaux opened #94 "what links here block to be retested / modified and reactivated"
what links here | what_links_here
EVA block is disabled. Please someone demo it locally, so we can discuss the content and behavior.

[2019-08-26 14:39] PerrineGilloteaux opened #95 "Links are not visible enough"
On any page, links are not visible since they are in the same color and font as any text. For the usability it is very important that evering clickeable is visble at first sight (such as function and topic in a sofwtare entry)

[2019-10-09 13:25] PerrineGilloteaux commented on #89
move to https://github.com/NeuBIAS/bise/issues/90

[2019-10-09 13:25] PerrineGilloteaux commented on #90
This page should be reviewed. This page only disaply for confirmed taggers (the only ones who can modified somebody else entry), which is good. Now it allow a search (ugly Pb #1 : to be enhanced (sorter) see #90 ) , but it should also display the total number of tool not meeting the minimal criteria and allow to click on this number to go to the list of it. This issue will be closed when this feat

[2019-10-09 13:35] PerrineGilloteaux opened #96 "install and test Broken link modules"
purpose: detecting download links broken

[2019-10-09 13:49] PerrineGilloteaux opened #97 "edit table for Search (not advanced search) to show the list of terms"
example: http://biii.eu/all-content?type=All&field_type_target_id=All&field_has_biological_terms_target_id%5B%5D=4243 VS http://biii.eu/search?search_api_fulltext=microtubule
Purpose : displaying the bio Imaging edam terms associated to a biological Search to support the message "One of the purpose of BISE is to help both scientists by transparently linking a biological term to image processing no

[2019-10-14 17:41] czhci opened #98 "uninstall unused drupal module"
Check if any module/view/page/block/etc unused to be uninstall to speed up the site

[2019-10-14 17:51] czhci opened #99 "if images are from existing websites, it could be provided as its original URL"
illustrative image currently is only available as file. it would be great to be able to provide the image location URL

[2019-10-14 18:03] czhci commented on #56
maybe we should try to fix it properly?

[2019-10-15 10:24] pdelgado248 opened #100 "Advanced search button location"
I think it would be better to have an advanced search button below the search bar so that it can be accesed from any section (Forums, About BISE, How to curate...) the same way the simple search can be accesed now.

I suggest having it there instead of devoting a section only for advanced search.

[2019-10-15 12:32] joakimlindblad opened #102 "In advance search, when searching for top EDAM higher level concepts, lower level hits are not included"
Example:

Advanced search for: Operation "Alignment construction"
http://biii.eu/all-content?type=All&field_has_function_target_id%5B%5D=4192&field_type_target_id=All

Result: 7 hits
Desired result: Inclusion (perhaps lower ranked) of all sub-operations

Advanced search for: Operation "Image registration" which is a subtopic of the former
http://biii.eu/all-content?type=All&field_has_function_targ

[2019-10-15 12:37] joakimlindblad opened #103 "Option for OR style advanced searches"
Interface for searching for e.g. Operation A or B
Current interface seems to only provide A and B, which usually leads to very few results

An option is to always provide OR results, but rank the hits such that AND ends up on top of the list.

[2019-10-15 15:56] matuskalas opened #104 "Enable tabular view of hits, great for curation!"
See https://bio.tools/t, click on "Display as" "Detailed" in the upper right corner.

Usual behaviour expected from an interactive table:

- [ ] Select which columns to show

- [ ] Resize columns

- [ ] Reorder columns

- [ ] Sort by any column (used to work in bio.tools, but not in the current version)

This is extremely helpful for curation etc., one can for example see all records that are miss

[2019-10-15 15:59] matuskalas opened #106 "Hits and pagination hell"
See e.g. https://biii.eu/cell-segmentation

- [ ] Show total number of hits

- [ ] Don't paginate after 10 items, PLEASE (also current bio.tools do but that's just as awful)

- [ ] Ideally don't paginate at all (infinite scroll or "load more" might be more modern), or if then in a usable way

- [ ] If paginating, show which of how many hits are shown (e.g. 51-100 of 234 items)

- [ ] If paginating

[2019-10-15 16:07] matuskalas opened #107 "Sorting of hits"
See e.g. https://biii.eu/image-segmentation

- [ ] Write what they're sorted by

- [ ] Allow mutliple options for sorting the hits (at least for sure in the tabular view #104)

- [ ] If "intelligent" ranking, then call that sorting option "by relevance"

[2019-10-15 16:16] matuskalas commented on #102
The same when clicking on an EDAM concept in the tree.

[2019-10-15 16:20] matuskalas opened #108 "Full-text search"
- [ ] Do always full-text search unless a user actively opts for advanced search

- [ ] Don't look for hits in tool names, it's just confusing

- [ ] "No hits found, do full-text search instead" is nonsense, do always full-text search by default (that's the standard way how the Web works)

[2019-10-15 17:11] matuskalas opened #109 "Add schema.org JSON-LD annotation to HTMLs"
The specification to use is Bioschemas Tool Profile, latest DRAFT version: https://bioschemas.org/specifications/drafts/Tool/

[2019-10-15 17:45] matuskalas opened #110 "Logos/icons, and screenshots and (bio)images"
From the user experience over the years, and from talking with numerous others inside and outside of NEUBIAS:

- [ ] These have to be treated and visualised differently, at least logos/icons in one way, and in another way screenshots and bioimages (the latter two possibly treated in the same way). Otherwise the look & feel will suffer. E.g. logos/icons make sense small but not big, whereas screens

[2019-10-16 08:26] matuskalas opened #111 "Synonyms are not taken into account in the full-text search (BUG)"

[2019-10-16 08:39] matuskalas opened #112 "Full-text search needs to be tuned (AS BAD AS BUG)"
**A more specific search should return fewer results than a more generic search.**
(CC @joakimlindblad)

This is also how Google search works:
- https://www.google.com/search?q=elastic+registration finds 24M hits
- https://www.google.com/search?q=elastic finds 316M hits

This is the opposite and wrong in BIII search:
- https://biii.eu/search?search_api_fulltext=elastic+registration returns 39 hits

[2019-10-16 09:35] albangaignard commented on #109
I just installed a set of Drupal plugins in a local Drupal instance to test microdata publication.
It's working fine but needs a bit more investigation to extend the  built-in annotations, with bioschema. Here are the installed plugins :

- http://Schema.org Metatag
- Metatag
- Token

[2019-10-16 09:36] albangaignard commented on #109
<img width="1152" alt="Capture d’écran 2019-10-16 à 11 32 41" src="https://user-images.githubusercontent.com/10667536/66907158-2d7c3f00-f009-11e9-9d95-e060b33f52ac.png">

[2019-10-16 09:36] albangaignard commented on #109
<img width="1138" alt="Capture d’écran 2019-10-16 à 11 32 26" src="https://user-images.githubusercontent.com/10667536/66907198-4127a580-f009-11e9-9d12-2e8b3125099e.png">

[2019-10-16 11:48] joakimlindblad opened #113 "CORS"
Add to .htaccess Header set Access-Control-Allow-Origin "*"

[2019-10-16 12:57] miura commented on #113
pull request #114

[2019-10-16 13:08] PerrineGilloteaux commented on #52
The same problem is happening in new page. What was the fix?

[2019-10-16 13:51] miura commented on #113
requested changes are now in the test site - in the branch devaccess. As soon as the external access is successful, it will be merged into the dev.

[2019-10-16 14:18] joakimlindblad opened #115 "Add node ID ("nid") or `URL into biii` as output of http://biii.eu/searchjsonexport"
For JSON export to COMULIS we need to link back to biii.
Current json returned by e.g.
[http://biii.eu/searchjsonexport?search_api_fulltext=(?=visualization)&_format=json&source=COMULIS
](http://biii.eu/searchjsonexport?search_api_fulltext=(?=visualization)&_format=json&source=COMULIS
)
does not include that required info (either Node ID or direct link).

Possibly requiring edit of file: [https://

[2019-10-16 17:25] PerrineGilloteaux commented on #115
Done in test.biii.eu. @joakimlindblad Close when pushed to production

[2019-10-16 18:30] miura opened #116 "collapse / expand workflow steps"
In the software entity editing page, make "workflow" colllapse / expandable.

![image](https://user-images.githubusercontent.com/272781/66947765-5fae9080-f04b-11e9-91f4-c9cb67e25217.png)

[2019-10-17 08:53] PerrineGilloteaux opened #117 "Request for batch adding"
Please add below suggestions of request for batch tagging to be done
(example chromatic aberration for fluorescnec microscopy)

[2019-10-17 08:58] PerrineGilloteaux commented on #117
- [ ] tag Chromatic aberration correction operation with topic fluorescence microscopy

[2019-10-17 09:24] PaulaSampaio opened #118 "Advance search by platform ("Required" field)"
Add a field in advance search to look for the itens required the same platform (ex. Fiji, Icy, ...)

[2019-10-17 10:20] PerrineGilloteaux opened #119 "warning: invalid argument supplied for foreach() in drupal\taxonomy\plugin\views\filter\taxonomyindextid->validateexposed()"
if you get this error while adding a filter criteria on taxonomy (such as impelmentation type is empty or not ) (line 338 of core/modules/taxonomy/src/plugin/views/filter/taxonomyindextid.php

Then the simple fix for every field related to taxonomy used as a filter is to NOT select autocomplete but rather dropdown for example. See for example test.biii.eu/sparse page

[2019-10-17 10:20] #119 closed

[2019-10-17 15:00] czhci opened #120 "When create new software type entry, workflow step should not be added by default."
currently, it has to be removed manually for each new software (not workflow) entry.

[2019-10-17 15:21] Lplantard opened #121 "Link plugin with the collection the belong too."
Some plugins belong to a collection. It would be nice from the collection entry to have links going to the individual plugins.

[2019-10-17 15:39] joakimlindblad commented on #113
This works well on both test.biii.eu and biii.eu; thus closing. Thanks Kota!

[2019-10-17 20:20] miura commented on #120
duplicate of #82

[2019-10-23 12:26] miura commented on #79
A new theme introduced and implemented by @alat54 is now in the test site ([test.biii.eu](test.biii.eu)). pull request #122

[2019-10-24 00:01] miura commented on #93
This is now fixed locally and will be in the new theme in test.biii.eu

[2019-10-24 00:02] miura commented on #94
I will work on this.

[2019-10-24 00:04] miura commented on #95
This will be solved with the deployment of the new theme in the production site.

[2019-10-24 00:07] miura commented on #100
![image](https://user-images.githubusercontent.com/272781/67442943-0cb47a80-f603-11e9-8d9d-23519b219304.png)

Looks  OK!

[2019-10-24 00:11] miura commented on #121
This probably will be solved by #94

[2019-10-24 00:14] miura commented on #116
This was already mentioned by myself in #82

[2019-10-24 22:17] joakimlindblad commented on #115
The "empty fields" issue seems solved.
Now, just to get the "nid" field back (first in test.biii, and then to migrate to the real one) :-)

[2019-10-24 22:52] miura commented on #92
It seems that revision is taken into account and listed in the "Curated" in the profile page of each. As an example, below is my "Curated" list, and as you see, a page created by you is listed there because I revised it.

![image](https://user-images.githubusercontent.com/272781/67530943-0dabe180-f6c1-11e9-89f4-5b1434771c3d.png)

So the new feature you want is to have also pages that you commented

[2019-10-24 22:52] #92 closed

[2019-10-24 22:58] miura commented on #115
are you going to work on this? @joakimlindblad

[2019-10-24 23:24] miura opened #123 "Implementation type need to be added with "script""
Current implementation types are:

![image](https://user-images.githubusercontent.com/272781/67532279-fa4f4500-f6c5-11e9-9e34-3aafe65e9c23.png)

I always feel difficulty with workflows which are mostly in the form of a script, so I strongly recommend to add "Script" as an implementation type.

[2019-10-24 23:27] miura commented on #123
... or maybe "none of above"

[2019-10-24 23:36] miura commented on #94
For reviving "What Links Here' to represent the relationships between components - workflow and maybe collections, we need another field.

The field "Required" is already there for associating components or workflow to a collection or collections. Then the backlink ("what links here")

A new field that is needed to associate components and workflow is something like "uses". Workflow X uses compone

[2019-10-25 00:52] joakimlindblad commented on #115
I have a hope that @PerrineGilloteaux will fix it (as I wrote on Glip).

[2019-11-14 11:35] czhci opened #124 "batch tagging for EBImage entries"
tags needed:
- LINKS > DOCUMENTATION LINK > **http://www.bioconductor.org/packages/release/bioc/manuals/EBImage/man/EBImage.pdf**
- USAGES > Requires > **EBImage**
- USAGES > Execution Platform > **Linux**
- USAGES > Execution Platform > **Windows**
- USAGES > Execution Platform > **Mac**
- USAGES > Programming Language > **R**

(Lots of these entries have been added manually.)

It would also be n

[2019-11-20 15:30] PerrineGilloteaux commented on #115
Adeed in the ugly way on test.biii.eu (could not launch my local instance to commit the change). Basically, add ID content data source in SERACH REST EXPORT view as field to be displayed

[2020-03-01 10:01] PerrineGilloteaux opened #125 "Test.biii.eu Mock up to be finished"

[2020-03-01 10:03] PerrineGilloteaux opened #126 "COMULIS website"
for now in comulis.eu/correlation-software-porto2019

[2020-03-01 10:03] PerrineGilloteaux opened #127 "Reimport ALPHA 5 release of EDAM BioImaging in BIII database"

[2020-03-01 10:05] albangaignard opened #128 "Doc for main classes 'Workflow, tools, etc.' in the Drupal documentation for taggers"
BISE core ontology standardizes the fields used to describe a software tool in image analysis. Some of the fields are very generic for a software tool , such as the execution platform, the license, the download pages or the reference publications. Other are very dependant of the bio image analysis field, such as the supported image dimension (2D, 3D, multi channel, time) or the topic and operation

[2020-03-01 10:05] PerrineGilloteaux opened #129 "Reuse visualisation provided by bio.tools/TESS in biii"
for workflow visualisation

[2020-03-01 10:08] albangaignard opened #130 "Tag workflows from Nature Protocols"
https://www.nature.com/search?q=image%20processing%20workflow&order=relevance&journal=nprot

[2020-03-01 10:08] PerrineGilloteaux opened #131 "Bio Imaging Edam comments to be checked and closed"

[2020-03-01 10:08] PerrineGilloteaux opened #132 "Bio Imaging EDAM deep Learning notion"

[2020-03-01 10:09] PerrineGilloteaux opened #133 "Core ontology documentaion for reuse in bio.tools"

[2020-03-01 10:11] albangaignard opened #134 "Tagging book of interest or other online ressource as Training"
https://forum.image.sc/t/bioimage-analysis-recommended-reading-and-viewing/28051

[2020-03-01 10:11] albangaignard opened #135 "Set the links MORE VISIBLE (in all views)"
For now there is no difference in color or in police, so people do not know on what they can click.

[2020-03-01 10:18] PerrineGilloteaux opened #136 "curation of content"
https://docs.google.com/spreadsheets/d/13mzalAjb_lUO7pxktC7pJfv5EtYzZVVchTvAXGMjMbY/edit#gid=0

[2020-03-01 10:35] hmenager commented on #129
a few pointers for workflow-like visualization tools:
- a cytoscapejs plugin developped for TESS
https://tess.elixir-europe.org/workflows/meta-pipe
- a dedicated workflow viewer
like in https://dev.workflowhub.eu/workflows/32?version=1

[2020-03-01 10:38] delestro commented on #126
After _bii.eu_ gives the NodeID in the json file, we need to change all the links in the comulis page from _test.bii.eu_ to _bii.eu_

[2020-03-01 10:42] delestro commented on #126
@PerrineGilloteaux need to solve issue #115 https://github.com/NeuBIAS/bise/issues/115

[2020-03-01 10:42] joakimlindblad commented on #115
@PerrineGilloteaux Any chance to progress this during Bordeaux Taggathon?

[2020-03-01 11:09] hmenager commented on #129
a few other links:
- the main cytoscape js repo: https://github.com/cytoscape/cytoscape.js
-  the panzoom plugin (also used in TeSS https://github.com/cytoscape/cytoscape.js-panzoom)

[2020-03-01 11:32] PerrineGilloteaux commented on #126
here is an example of the new view REST export using ontology ((Advanced Search like) :
http://test.biii.eu/all-content-rest?type=software&field_has_function_target_id%5B%5D=4192&field_type_target_id=All&_format=json

[2020-03-01 11:48] czhci commented on #136
observation:

in "author", there exists:
first name last name,
last name, first name
the orcid id link

[2020-03-01 11:54] joakimlindblad opened #137 "Biii Full-text search does not look into EDAM tags"
Problem: Free text search does not report hits on used EDAM tags.
Issue: Free text search should reports hits on used EDAM tags, they are relevant!

Example: In free text search, if searching for an EDAM topic (e.g. "Multimodal Imaging") we get fewer hits (almost no) than if we, in advanced search, show what is listed under the Topic "Multimodal Imaging".

Search: https://test.biii.eu/search?searc

[2020-03-01 11:56] PerrineGilloteaux opened #138 "NOTE THAT EDITION IS DONE IN TEST.BIII.EU FOR URGENT TEST…, done in local installation in parralel"
-> two problem -> can not import the biiii.datbase in the local branch from Alain -> so turn around is actually importing database from test.biii.eu rather than biii.eu -> IMPORTANT NOTICE HERE for deployment
-> COMULIS workgroup need immediate deployment to test.biii.eu for going on with the interfacing-> then the workflow for taggathon bordeaux for myself is as follow: I moduify the database on

[2020-03-01 11:57] PerrineGilloteaux commented on #138
here is the description of the error when importing biii prod content on ALain branch -> mport the listed configuration changes? (yes/no) [yes]:

 [error]  Drupal\Core\Config\ConfigImporterException: There were errors validating the config synchronization.
Entities exist of type <em class="placeholder">Custom block</em> and <em class="placeholder">Custom block type</em> <em class="placeholder">Bas

[2020-03-01 12:04] PerrineGilloteaux commented on #135
done in test theme by Alain http://test.biii.eu/icy-spot-tracking

[2020-03-01 12:04] #135 closed

[2020-03-01 12:11] czhci commented on #136
observation:

in "main" for entry name, there exist variations to identify software name, for example:
to indicate watershed that is in imagej, in these formats:
watershe (imagej),
imagej watershed
watershed for imagej

should we normalize these?

[2020-03-01 12:15] czhci commented on #136
there is a lack of deformable transformtion in adam topic.
also under geometric transformation, it is not exhaustive, e.g. similarity transform is not there.
in general, there is some minor discrepancy in the hierarchy levels.

[2020-03-01 12:59] PerrineGilloteaux commented on #126
https://docs.google.com/document/d/1uJYBo6KLU4j7tSad-kCXjnT2-zA1YwbEerUwDCFMzgI/edit?usp=sharing

[2020-03-01 13:15] PerrineGilloteaux commented on #137
http://test.biii.eu/search?search_api_fulltext=%22image+registration%22
it is now working (I changed the CRON indexing to index everything. See for example Cell profiler Align appearing in th eresult while "image registration term" only appear infunction as edam bioimaging operation

[2020-03-01 13:30] hmenager commented on #129
after investigating the TeSS repo, here's my understanding of how it works:
- the workflows are stored in the database,
- the JSON is generated from this database and returned to the frontend,
- this JSON (that includes the positions of the different nodes) is generated and handled by cytoscapejs for frontend display.

Note that the users can adjust and save the layout to improve readability of ea

[2020-03-01 13:31] PerrineGilloteaux commented on #129
Link to JSON export of workflows steps: http://test.biii.eu/wfsteps?_format=json

[2020-03-01 13:40] hmenager commented on #129
link to TeSS OpenAPI workflow retrieval web service:
https://app.swaggerhub.com/apis/fbacall/TeSS-JSON-API/0.2.0#/workflows/get_workflows__slug_

[2020-03-01 13:56] PerrineGilloteaux commented on #137
Ok: now testing after having edited the PROCESSORS of the serach INDEX -> Added entity linked and Added hierachical index -> that should solve both searching in terms AND inheritance of parent terms

[2020-03-01 14:08] hmenager commented on #129
The link to the "more reusable" javascript code (kindly provided by @inkuzmin is https://gitlab.com/njall/workflow-js. instructions to set up and run are straightforward ;)

[2020-03-01 15:09] joakimlindblad opened #139 "Advanced search JSON does not match JSON format of Full text search"
Full text search: http://test.biii.eu/searchjsonexport?search_api_fulltext=(?=visualization)&_format=json
gives a JSON of the format [{key1:value1,key2:value2,...

The advanced search: http://test.biii.eu/all-content-rest?type=software&field_has_function_target_id%5B%5D=4192&field_type_target_id=All&_format=json
gives a JSON of a different format [{key1:[{value1}],key2:[{value2}],...

This makes p

[2020-03-01 15:10] PerrineGilloteaux commented on #137
new procedure Under testing -In the 'Fields' tab for your active index (ex: Administration->Configuration->Search and metadata->Search API->Acquia Search Solr Index)
...select 'Add Fields'
-You'll get the list of fields to add, broken out by section. Under *Content* (not Taxonomy Term) find the field that is the entity reference field on your content type. For example, if you've added an entity re

[2020-03-01 16:32] czhci commented on #136
what should it be, for an entry that is a component in a software, but the content of this component is a tutorial? e.g. http://biii.eu/roi-tutorial-1

[2020-03-01 17:04] czhci commented on #136
there is a lack of tags in the available "has topic" and "has function", when the entry is not exactly handling images, but general data/files.

[2020-03-01 17:17] PerrineGilloteaux commented on #137
Sounds like solved, but only when logged (config export to be done)
(had followed the procedure above, have Added synonyms as well in the list

[2020-03-01 22:23] matuskalas commented on #127
Or maybe we should release a new alpha06 at the end of taggathon? Depending on how much new stuff we have, and time left to do the checking & release...

[2020-03-02 07:59] albangaignard commented on #129
Here is an overview of dynamic graph visualization of tools participating in Biii worklfows.

<img width="1391" alt="Capture d’écran 2020-03-02 à 08 40 44" src="https://user-images.githubusercontent.com/10667536/75656244-d5ff0880-5c63-11ea-9043-66e7c194d308.png">

Full JavaScript (Cytoscape.js based) so it can be integrated into the Drupal web site. Drupal integration to be done.

[2020-03-02 10:45] albangaignard commented on #129
@hmenager, @PerrineGilloteaux, @alat54  the JS code is availabe here: https://github.com/NeuBIAS/bise-core-ontology/tree/master/wf-html-vis.

Right now, it can be integrated yet into a Drupal page.

[2020-03-02 11:09] PerrineGilloteaux commented on #137
Fixed: was actually only a cache matter I Believe , today the same Search return the same results for both Anonymous and not Anonymous users

[2020-03-02 11:25] PerrineGilloteaux opened #140 "Hierarchical Search related to Edam terms"
example : image registration > affine registration.
Tag tool with affine registration
when you look for image registration , do you want to find tools doing affine registration? YES >
when you look for affine registration, do you want to find tools doing Image Registration? NO <

fopr now hierarchical serach is actually allowing to serach for parents as well, which is the contrary...
Can we find o

[2020-03-02 11:30] PerrineGilloteaux commented on #139
I will do this, but apart the {} from the content it self of the field displayed in this view do you want the same exact list if fields? (it goes with another issue with was unformization of both Search results views).

[2020-03-02 11:36] PerrineGilloteaux commented on #115
duplicate of #139

[2020-03-02 11:45] joakimlindblad commented on #139
For now no need for that. If needed I will file another issue on that.
This is **not** related to issue #115, that is an independent issue.

[2020-03-02 11:46] joakimlindblad commented on #115
This is independent of #139
Currently it is just to propagate test.biii.eu behaviour to main biii.eu

[2020-03-02 13:38] czhci opened #141 "both the general search and advanced search should include "author" field"
example:
there are >= 46 entries that have Dufour as (one of) the author(s). BUT:
when type "dufour" in the search, it does not return any entry;
also when check in the advanced search, the "author" field is not provided.

[2020-03-02 13:49] PerrineGilloteaux commented on #134
and an occasion to comment on the model

[2020-03-02 14:13] czhci commented on #127
related: [#72 ](https://github.com/NeuBIAS/bise/issues/72)

[2020-03-02 14:25] PerrineGilloteaux commented on #139
title
field image link
nid
Description

[2020-03-02 15:38] #139 closed

[2020-03-03 08:16] joakimlindblad commented on #139
[Solved] Thank you!

[2020-03-03 08:53] czhci opened #142 "[4 curation] query script needed to detect and handle duplicated entries"
examples:
http://biii.eu/active-cells-3d
http://biii.eu/active-cells-3d-0

seems if there are duplicated entries for the same software/training/dataset/etc, likely they will be given the same title, such as "Active Cells 3D", and thus likely the generated nodes with appended hyphen with numbers.

We should have a query script to return a list of such suspicious candidates for curators to verify an

[2020-03-03 08:54] PerrineGilloteaux opened #143 "fiji search give the rule of short link creation"

[2020-03-03 09:16] PerrineGilloteaux commented on #143
Rules of renaming for links: http://biii.eu/admin/config/search/path/settings
1) a, an, as, at, before, but, by, for, from, is, in, into, like, of, off, on, onto, per, since, than, the, this, that, to, up, via, with WILL BE REMOVED (if separated words, not part of another word)
2) Maximum alias length 100. Maximum length of aliases to generate.
3) everything converted to lowercase
4) When a patter

[2020-03-03 09:33] haesleinhuepf commented on #143
Hi @PerrineGilloteaux and @albangaignard ,

the BIII search is now integrated on a git branch. It looks like this:
![image](https://user-images.githubusercontent.com/12660498/75762047-598b2900-5d3a-11ea-831c-785bcf176d1d.png)

Please try it out in your Fiji by downloading the [scijava-search.jar](https://owncloud.mpi-cbg.de/index.php/s/IXnMbtlPpD7Er3Q) and putting it in the /jars/ sub-directory of

[2020-03-03 10:46] albangaignard commented on #129
@PerrineGilloteaux, can you add the name of the step in the workflow drupal view ?

[2020-03-03 10:47] hmenager commented on #129
to write down what we just discussed, what you will get from the cytoscapejs API has to be programmed. In particular, the size of the diagram has first to be decided, and then the code adapted to reflect the "rules".
The cytoscapejs documentation can be very helpful with that respect:

[2020-03-03 11:14] PerrineGilloteaux commented on #143
@haesleinhuepf looks ok: remond me wich Search you are using? Search api? if yes the good news is that in the new version of search, it will Search in tag so much more efficient than simple free text.

[2020-03-03 11:14] PerrineGilloteaux commented on #143
Many thanks for this, sounds ok for release for me.

[2020-03-03 11:49] haesleinhuepf commented on #143
Thanks for testing, I'll send the PR.

The search URL is this one btw:
https://github.com/scijava/scijava-search/commit/7fa61e0cd04183d5dbc903139bf5ef0ca724415d#diff-27e98126dd7dcf4dfdbac33f29e558d1R77

Cheers,
Robert

[2020-03-03 13:34] joakimlindblad commented on #140
Not exactly certain what should be solved in this issue. Resolve the question, or implement it.

I think we had clear answer at Taggathon #9 Bordeaux
When you look for "image registration", you want to find "affine registration", but not the other way around.
You may wish to have a "wider search" option where looking for a sub-node would return the nearest higher level node(s); never all the way t

[2020-03-03 13:39] joakimlindblad commented on #126
After a very successful hackathon at taggathon 9, we reached far!

What remains is
1. To propagate fixes implemented on test.biii.eu to the main biii.eu
2. To change the link in the biii_search.js to point to biii.eu
3. To make it the main comulis.eu/correlation-software page

Did I forget anything?

@PerrineGilloteaux can you let us know when point 1 is done, so that @delestro can continue with s

[2020-03-03 13:47] joakimlindblad commented on #132
Most things done after Taggathon 9 Bordeaux!

A few things remain:
1. Training, testing, validation notions as operations
2. More options for Image annotation, and clarifications what makes things fit that tag

What more?

[2020-03-03 13:49] matuskalas commented on #127
alpha06 will be ready to be imported SOON.

REMOVED CONCEPTS IN EDAM-bioimaging_alpha06 WRT alpha04:

Class: http://edamontology.org/operation_Neuron_image_analysis
Label: Neuron image analysis
REMOVED AS OPERATION AND ADDED AS TOPIC INSTEAD (ID http://edamontology.org/topic_Neuron_image_analysis)
SAME LABEL

Class: http://edamontology.org/topic___F%C3%B6rster_resonance_energy_transfer
Label: Förs

[2020-03-03 13:52] joakimlindblad commented on #111
This is almost as important as #137

[2020-03-03 13:53] joakimlindblad commented on #140
See also #102

[2020-03-03 15:17] PerrineGilloteaux commented on #137
it should be solved again, @delestro @joakimlindblad could you check?

[2020-03-03 15:33] PerrineGilloteaux commented on #137
"multimodal AND interactive" is a subset of multimodal where entries also mention interactive

[2020-03-03 16:05] albangaignard commented on #142
Here is a short python snippet too compute a syntaxic distance between names.

[code]

Here is the output it can produce :
[code]

[2020-03-03 17:13] czhci commented on #136
version 1 of entries on biii.info (biii.upf.edu) done (edam alpha 0.4).

[2020-03-03 17:15] czhci commented on #136
appended entries added between 2017 and 2018 (before ontology time) to be curated.

[2020-03-03 23:56] joakimlindblad commented on #137
Search in EDAM keywords seems to work again :-)
Both when logged in and when not.

The last comment I do not fully understand though. The free text search seems to OR all words together, if I search for "multimodal AND interactive" the top hit is a text with many occurrences of the word "and".

The mentioned search in synonyms ("Added synonyms as well") seems to not work though. An example is sear

[2020-03-04 08:44] joakimlindblad opened #144 "Add one "FreeText" field to the Advanced search fields"
A nice to have feature would be to have one "FreeText" field among the different fields in the Advanced search. To be AND:ed together. Makes it work like a filter.

An alternative interface (perhaps Simple and Advanced Search should be merged) is to present it the other way around (which I personally think is more accessible for the user) - To start with the Free-text simple search, and then add *

[2020-03-04 11:15] PerrineGilloteaux commented on #137
Good point I did not re add synonym
For and my mistake I am looking for the correct syntax for it

[2020-06-04 14:41] PerrineGilloteaux opened #146 "Kota cleaning the base version on dev with the prod database"
https://github.com/NEUBIAS/bise/tree/dev20191022newTheme
has been deployed  test.biii.eu. It will be deployed in its actual state on dev branch, then  if functional on prod, to start fresh again with a correct dev and prod branch.

[2020-06-12 12:43] miura opened #148 "issues withe the status of dev branch (test.biii.eu) as of 20200612"
- "type" view components, collections ...) lists items but the link to pages are not present.

[2020-06-12 13:00] PerrineGilloteaux commented on #148
-  pages created but not diaplyed in the menu (such as Show Taggers) http://test.biii.eu/show-taggers

[2020-06-12 13:03] PerrineGilloteaux opened #149 "type" view components, collections ...) lists items but the link to pages are not present."

[2020-06-12 13:07] PerrineGilloteaux opened #150 "pages created but not diaplyed in the menu"
(such as Show Taggers) http://test.biii.eu/show-taggers

[2020-06-12 13:08] PerrineGilloteaux commented on #148
Copied in different issues so closing this one: one ticket per problem, the the label "dev branch"

[2020-06-12 13:08] #148 closed

[2020-06-12 13:11] PerrineGilloteaux opened #151 "on the homepage, below “Welcome to Biii”, the text “This block is broken or missing. You may be missing content or you might need to enable the original module.”"
should be gone or replaced by something? Gone I guess. Idem for the NEUBIAS block at the bottom of tha page.

[2020-06-12 13:13] PerrineGilloteaux opened #152 "Fixed back search API for comulis on dev version"
Test configuration on COMULIS not ok  https://www.comulis.eu/correlation-software-porto2019#search_result
(check configuration https://github.com/PerrineGilloteaux/BIII-BORDEAUX-changes-in-config
problem in search API, to be corrected to the config version above)

Same thing with FIJI test BAR

[2020-06-13 10:01] PerrineGilloteaux opened #153 "php version in lando"
https://github.com/NEUBIAS/bise/blob/dev/.lando.yml
it is now 7.1, while most of the drupal packages of this dev branch are said to require php >7.2, so lando composer install would not work with this lando.yml
I suggest to change the version to 7.2 in lando.yml, do you see any problem with that? (then lando rebuild)

[2020-06-13 20:16] miura opened #154 "dev branch:- pages created but not diaplyed in the menu (such as Show Taggers) http://test.biii.eu/show-taggers"
-  pages created but not diaplyed in the menu (such as Show Taggers) http://test.biii.eu/show-taggers

_Originally posted by @PerrineGilloteaux in https://github.com/NEUBIAS/bise/issues/148#issuecomment-643257308_

[2020-06-13 22:13] miura commented on #154
I found that this is redundant. see #150

[2020-06-13 22:13] #154 closed

[2020-06-13 22:14] miura commented on #149
Done: this will be included in the next push.

[2020-06-13 22:14] #149 closed

[2020-06-13 22:50] miura commented on #150
@PerrineGilloteaux
I added "Taggers" to the main navigation

![image](https://user-images.githubusercontent.com/272781/84580648-06188480-add9-11ea-97e5-63ccd305b0f5.png)

What other pages should be in the main menu? I will add them.

[2020-06-13 22:58] miura commented on #153
done, this change will be there in the next push.

[2020-06-13 22:59] #153 closed

[2020-06-13 23:19] miura commented on #151
@PerrineGilloteaux  I can fix if you tell me what was there under "Welcome to Biii". If you think there was indeed nothing (it seems that this "broken" part is also within the "welcome to Biii" block), I will generate a similar block again and place it in the same position.

![image](https://user-images.githubusercontent.com/272781/84581016-0ca8fb00-addd-11ea-9ddd-9d5821d2ff86.png)

[2020-06-13 23:22] miura commented on #152
Are these colients pointing to test.biii.eu or biii.eu?

[2020-06-13 23:52] miura opened #155 "“Ontology search” page"
on “Ontology search” page (http://test.biii.eu/browse_ontology), title says “Page not found”

[2020-06-14 01:33] miura commented on #151
... having said that, maybe @alat54 still has the correct block. Menus, Custom blocks, and taxonomy terms are not exported by drush config:export, so the command based on the module "structured sync" should be used to export these configurations to files. https://www.drupal.org/project/structure_sync

[2020-06-14 01:36] miura opened #156 "Test Content Syncronizaiton"
As contents of basic pages are not exported to files, test the following module to export those contents to files so that those contents can also be version tracked with text files.

https://www.drupal.org/project/content_sync

[2020-06-14 01:37] #79 closed

[2020-06-14 01:41] miura commented on #150
see https://github.com/NEUBIAS/bise/issues/151#issuecomment-643705099

[2020-06-14 18:05] miura commented on #44
Revival: please agree to use this module, to avoid the disappearance of contributions like we are seeing this time...

[2020-06-18 07:37] PerrineGilloteaux commented on #129
@alat54 Could you point out where you did incorporate the javascript from Alban and which view was modified? To check that the test.biii.eu version can support it?
https://github.com/NeuBIAS/bise-core-ontology/tree/master/wf-html-vis.

[2020-06-18 08:57] PerrineGilloteaux commented on #137
Please note that Tracking rebuild AND reindexing  (and drush cr) is needed for correct new indexing in search api

[2020-06-18 09:10] PerrineGilloteaux commented on #108
TOTAL BUG: https://biii.eu/search?search_api_fulltext=smoothing (full-text) should always return >= results than https://biii.eu/smoothing (EDAM concept search only). It's the other way round currently FIXED by https://github.com/NEUBIAS/bise/issues/137

[2020-06-18 09:13] PerrineGilloteaux commented on #152
@delestro @joakimlindblad could you confirm where the search is done?

[2020-06-18 09:44] #143 closed

[2020-06-18 13:03] PerrineGilloteaux commented on #151
Hi @miura , this is indeed the case of a custom block, I and ALain have the original (archive from Bordeaux). For now and before tomorrow, to set back the prod alive, I would suggest to disabled (see commit below) , Alain has no time until next week.

[2020-06-18 14:45] miura commented on #155
... so I could not find any trace of the setting ( probably was a View?). If someone has made it, please inform to this thread.

[2020-06-18 14:47] miura commented on #151
https://github.com/NEUBIAS/bise/commit/cf0444edb4ac9a8ef58c4724acebe7fca7e27998

[2020-06-18 14:47] #151 closed

[2020-06-19 01:11] miura commented on #52
This is fixed in test.biii.eu by now.
http://test.biii.eu/all-content?type=All&field_has_function_target_id%5B%5D=4097&field_type_target_id=All

![image-20200619031023509](https://user-images.githubusercontent.com/272781/85086293-790b6c00-b1da-11ea-9dfe-1413ffd5ce7d.png)

[2020-06-19 01:11] #52 closed

[2020-06-19 01:16] miura commented on #85
I would say this is fixed. Please reopen if you still find the same issue appearing. @PerrineGilloteaux

[2020-06-19 01:16] #85 closed

[2020-06-19 08:35] PerrineGilloteaux opened #158 "untracked missing file(social media)"
/modules/contrib/social_media/icons/google_plus.svg
to be taken and renamed from
https://upload.wikimedia.org/wikipedia/commons/5/5c/Google_plus.svg
(not tracked in git)

[2020-06-19 13:14] czhci opened #160 "thorough check & replace "BISE" by "BIII" (on production site)"

[2020-06-19 13:20] czhci opened #161 "display the total NUMBER of entries for every list of certain type"
it would be nice for EXISTING biii pages that give a list of a certain type the total number of entries in the list, like these: http://test.biii.eu/taxonomy/term/3575, http://test.biii.eu/taxonomy/term/3574, etc. Especially when they are accessed through the all content listing table (http://test.biii.eu/all-content).

[2020-06-19 13:29] czhci opened #162 "Adjust logo image size"
The logo image on the “create an account” and “log in” pages is proportionally too large, compared to the contents on these pages.

[2020-06-19 13:40] PerrineGilloteaux commented on #129
It does work, for example , http://test.biii.eu/node/1622
but not correctly for http://test.biii.eu/node/50 :
= http://bisescratch.lndo.site (or test.biii or biii)/performing-automatic-registration-clem?_format=json
-> actually from the json you only get the list of steps (paragraph) that you read then from http://bisescratch.lndo.site/wfsteps?_format=json

[2020-06-19 13:45] PerrineGilloteaux commented on #129
So what was missing was a supplmenytary exposition so you can differntiate between the two steps spot finder in the example above (/node/50). I am moiving the label as an bug/enhancement , not related to the staus in Bordeaux (we let it like that at this stage)

[2020-06-19 13:49] PerrineGilloteaux commented on #129
SO: it is not possible for you @albangaignard to differentiate in this actual state: (Locally bisescratch !)I need to edit the represnetation of workflow itself: replacing previous step by a paragraph of type workflow step. I post here once done.

[2020-06-19 13:58] PerrineGilloteaux opened #163 "Broken dropdown or select"
http://bisescratch.lndo.site/all-content
Now was set by default drop down , @alat54 said thsi is due to the dupal udate and should be simple to fix. I would say NOT BLOCKING for deployent o PROD but to be fixed very soon

[2020-06-19 14:02] miura commented on #155
For now we remove this link. Add it again later.

[2020-06-19 14:08] #150 closed

[2020-06-19 14:18] PerrineGilloteaux opened #164 "Fix the pages Component workflow etc..."
e.g. http://test.biii.eu/taxonomy/term/8

[2020-06-19 14:19] PerrineGilloteaux opened #165 "Fix the page Training Results"

[2020-06-19 14:20] PerrineGilloteaux commented on #129
And at the same time add some label on the step representation

[2020-06-19 14:21] PerrineGilloteaux commented on #129
We need this to be push to production in the next round even if not percet because we need more wf to be curated to make it better @miura

[2020-06-19 14:21] #51 closed

[2020-06-19 14:25] miura commented on #163
.... so we agreed to make a temporal solution for very long lists like list of taxonomy terms. We deploy with a temporal solution and wait for a better implementation by Alain.

I will link the commit @PerrineGilloteaux will push request later in this thread.

[2020-06-19 14:31] #53 closed

[2020-06-19 14:37] czhci opened #166 "british english vs american english give different search entries"
e.g. type in search “optimization” and “optimisation” give different entries
e.g. type in search “skeletonisation” gives no entry, while “skeletonization” give a few

[2020-06-19 14:54] #116 closed

[2020-06-19 14:57] #120 closed

[2020-06-19 15:02] czhci opened #167 "old workflows that were added before the “workflow type” field was added for each workflow step (before March 2019) need to be curated"
old workflows that were added before the “workflow type” field was added for each workflow step (before March 2019) need to be curated to update the workflow type. e.g. all the workflow steps in  http://test.biii.eu/nuclei-segmentation-cellprofiler are set to be “Cell tracking”, which is wrong.

[2020-06-19 15:22] miura commented on #138
- Importing / exchanging database to / with the new theme in _dev_ branch
- test.biii.eu is running with the latest database & theme

... so I guess this is done, so please reopen (especially @PerrineGilloteaux )

[2020-06-19 15:22] #138 closed

[2020-06-19 15:35] miura commented on #129
@albangaignard
@PerrineGilloteaux

For the development purpose, the best is to test adding a new workflow node in your local just for the purpose of development of these new functionalities, and do local rounds of testing/adjusting configurations, codes and contents.

The main reason is that if you try to modify the database in the production server,  it takes too much time and effort.

1. the cha

[2020-06-19 15:40] miura commented on #125
I think it's difficult to evaluate if the test is finished... If there is any specific issue, please create a new thread. so I close this issue now.

[2020-06-19 15:40] #125 closed

[2020-06-19 16:00] miura commented on #158
In fact, they don't have one in the source repository...
https://git.drupalcode.org/project/social_media/-/tree/8.x-1.x/icons

[2020-06-19 17:30] miura commented on #158
The developer of this module (social_media) removed the google plus link recently

https://www.drupal.org/project/social_media/issues/3113361

but this is effective only when installing, so I removed it in the setting.

https://github.com/NEUBIAS/bise/commit/bf01f86a5a2feaf0dfddcf184bc4653c69963c56

[2020-06-19 17:30] #158 closed

[2020-06-19 18:56] miura commented on #46
Internal link in the wiki working, so I close this issue.

[2020-06-19 18:56] #46 closed

[2020-06-22 16:15] miura commented on #94
@PerrineGilloteaux  any response?

[2020-06-23 18:09] miura commented on #56
This is now implemented as it should be. (@czhci  @PerrineGilloteaux ). I will push this later, but just to notify you that you do not need to work on this.
![image](https://user-images.githubusercontent.com/272781/85439051-de6dad00-b58c-11ea-95f6-bcefc7d35300.png)

In association with this, custom page names such as "/software-view", "/training-view" were changed to "/software" and "training-mate

[2020-06-24 00:14] miura commented on #155
"Ontology search" link in the header banner is temporally commented out.
see 1565c43cd5231a2f15015f94d5e3fc571d837218
Advanced search also needs some more developments, so the link is visible but with "under construction" stated.

[2020-06-24 06:04] PerrineGilloteaux commented on #152
IMPORTANT:1 )REBUILD TRACK INDEX, (admin/config/search/search-api/index/default_index = Rebuild tracking information at the bottom) 2)run reindexation (start indexing now after), same page,  3) and drush cr before seing effects did you do do so? I do not want to test it myself on test.biii.eu @miura

[2020-06-24 07:39] PerrineGilloteaux commented on #165
done buy @miura , completed for nicer result list by https://github.com/NEUBIAS/bise/pull/168

[2020-06-24 07:39] #165 closed

[2020-06-24 07:59] #164 closed

[2020-06-24 08:01] PerrineGilloteaux commented on #163
Because the parsing ontology is disabled, I suggest to let this ugly parsing for advanced search, so users can see the list of available terms. This should be priority number #1 to be fixed by @alat54  whenever he can. But let's go to prod after this pull request fixing some views https://github.com/NEUBIAS/bise/pull/168 is deployed @miura

[2020-06-24 12:26] miura commented on #156
related: #160

[2020-06-24 12:28] miura commented on #152
done in test.biii.eu. Please confirm and then close! @PerrineGilloteaux

[2020-06-24 12:51] miura opened #169 "Search API indexing fails in parsing some texts"
While indexing for search API, there are many warnings such as

`>  [warning] An overlong word (more than 50 characters) was encountered while indexing: sampledriftcorrectionfollowing4dconfocaltimelapseimaging.<br />Since database search servers currently cannot index words of more than 50 characters, the word was truncated for indexing. If this should not be a single word, please make sure the "T

[2020-06-24 14:15] miura commented on #169
The Stopwords processor should come after the Tokenizer. WIth this processing order, there is no failure in parsing URL paths.

![image](https://user-images.githubusercontent.com/272781/85573071-d9b10380-b635-11ea-9171-170eeec6e4bb.png)

I will push this soon.

[2020-06-24 16:25] PerrineGilloteaux commented on #169
Great thanks .
Kota , Chong suggestion is a good one but what do you mean by we can not add content anymore ? Why can we put this version live and let people now adding things now that is is correctly merge with this data base ?

[2020-06-24 21:22] joakimlindblad commented on #152
I don't find where @delestro inserted the js code, but according to his github, it's getting data from https://test.biii.eu

[2020-06-25 00:04] miura commented on #169
deployed.

[2020-06-25 00:04] #169 closed

[2020-06-25 00:06] miura commented on #155
done

[2020-06-25 00:06] #155 closed

[2020-06-25 00:11] miura commented on #146
For issues listed by @czhci , they are mostly (?) made into individual issues and are handled independently. As major issues have been solved (except for the advanced search fixes and improvements), the new version is now deployed to the production server. ... so I close this thread.

[2020-06-25 00:11] #146 closed

[2020-06-25 00:12] #141 closed

[2020-06-25 00:12] miura commented on #100
done

[2020-06-25 00:12] #100 closed

[2020-06-25 00:13] miura commented on #95
done

[2020-06-25 00:13] #95 closed

[2020-06-25 00:13] miura commented on #93
done

[2020-06-25 00:13] #93 closed

[2020-06-25 00:14] miura commented on #56
deployed.

[2020-06-25 00:14] #56 closed

[2020-06-25 00:22] miura commented on #44
In terms of importing, doing it from the GUI works.
/admin/structure/structure-sync/general

[2020-06-25 10:06] haesleinhuepf opened #170 "Editing entries: Error message"
Hi all,

I just tried to edit an entry in BIII and I'm getting an error message:
![image](https://user-images.githubusercontent.com/12660498/85699839-2222fc80-b6dc-11ea-82df-64544b7649c8.png)

However, I can't see the field which is wrongly filled. This is the entry I tried to change:
http://biii.eu/node/1430/edit?destination=/node/1430

Let me know if I can help further tracing this down!

Awesom

[2020-06-25 11:19] czhci commented on #162
ok on production site now.

[2020-06-25 11:19] #162 closed

[2020-06-25 11:30] miura commented on #170
Hi Robert, I cannot reproduce on my desktop ... would you tell me your OS and the browser?

![image](https://user-images.githubusercontent.com/272781/85711793-ec841080-b6e7-11ea-91e3-8d86b898da61.png)

[2020-06-25 11:31] haesleinhuepf commented on #170
Sure. Windows 10 and Chrome. The error popped up after updating some links btw.

From: Kota Miura <notifications@github.com>
Sent: Thursday, June 25, 2020 1:30 PM
To: NEUBIAS/bise <bise@noreply.github.com>
Cc: Robert Haase <rhaase@mpi-cbg.de>; Author <author@noreply.github.com>
Subject: Re: [NEUBIAS/bise] Editing entries: Error message (#170)

Hi Robert, I cannot reproduce on my desktop ... would

[2020-06-25 11:47] miura opened #171 "comment body does not appear"
Comment subject appears but the body text is hidden.

![image](https://user-images.githubusercontent.com/272781/85714186-77fea100-b6ea-11ea-8e62-b29894909988.png)

[2020-06-25 11:55] czhci opened #172 "Advanced search fields collapse together"
on the “Advanced search” page, when multiple options selected, the field box extends and covers the lines below, see picture below:

see [here](http://biii.eu/all-content?type=All&field_has_function_target_id%5B%5D=4111&field_has_function_target_id%5B%5D=4010&field_has_function_target_id%5B%5D=4057&field_has_function_target_id%5B%5D=4756&field_type_target_id=All).

[2020-06-25 11:59] miura commented on #170
Thanks, OK, I will try to do some similar editing actions and see what will happen. I tried editing a link in an entry using MacOS - Chrome but it did not happen...

[2020-06-25 12:03] czhci opened #173 ""software" on "Advanced search" page points to wrong page"
on the “Advanced search” page, in the second column of listing content table, Category, when clicking “Software”, it returns this [page](http://biii.eu/admin/structure/types/manage/software), which should be this page (http://biii.eu/software) instead.

[2020-06-25 14:45] miura commented on #160
"About" page is done.
For the name of the repository in Gitub, we better just keep "bise" because there are many local clones with remote configured to neubias/bise.

[2020-06-25 16:42] miura commented on #171
I briefly checked the database and the contents I test posted is present, so somewhere in the piping is not working...

![image](https://user-images.githubusercontent.com/272781/85761932-8614e780-b713-11ea-9abf-2c9798eada6d.png)

[2020-06-30 17:18] miura commented on #49
Hi @czhci , can you confirm that this is done?

[2020-07-02 02:41] miura opened #174 "The appearance of workflow steps"
"workflow steps" better

1. Appear in the sidebar or so, because there is a huge spacing above the download link and people probably cannot find those links (see below).
2. It needs to be limited with its appearance only in workflows, not in components and collections. (#82 )

![image](https://user-images.githubusercontent.com/272781/86310307-0361c000-bc1e-11ea-9960-edfdec3526ac.png)

[2020-07-03 13:41] #49 closed

[2020-07-03 15:10] miura commented on #82
Actually, this was not implemented.

[2020-07-03 15:16] miura commented on #174
I will test try adding this module "conditional fields":

https://www.drupal.org/project/conditional_fields

https://www.drupal.org/docs/8/api/form-api/conditional-form-fields

For views, maybe this as well for the rendered page.
https://www.drupal.org/project/views_conditional

[2020-07-03 15:22] miura commented on #82
I will test try adding this module "conditional fields":

https://www.drupal.org/project/conditional_fields

https://www.drupal.org/docs/8/api/form-api/conditional-form-fields

For views, maybe this as well for the rendered page.
https://www.drupal.org/project/views_conditional

[2020-07-03 16:43] miura commented on #174
.. For point number 1, unnecessary "workflow field" display can be simply deleted by editing the entry in the general interface (somehow, in this "3D ImageJ Suite case", workflow step field was added with empty values).  Whenever there is such empty space, it might be due to the old version "workflow steps".

...For point number 2, I will describe the solutin in #82

[2020-07-04 16:15] miura commented on #167
Leandro added several workflows so maybe it will be efficient to do corrections by using his username as the key.  see issue #77

[2020-07-04 16:17] miura commented on #77
@PerrineGilloteaux @czhci please check if these three points (see suggestions by @Leandroscholz at the top of this thread)!

[2020-07-04 16:24] miura commented on #173
@czhci  please check tes.biii.eu - It's fixed now and waiting for deployment.

![image](https://user-images.githubusercontent.com/272781/86516747-8738c980-be23-11ea-8fd0-c155f9c17f83.png)

[2020-07-04 16:30] miura commented on #174
Here are two cases, software type "collection" (workflow steps field becomes hidden), and type "workflow". @PerrineGilloteaux , @czhci , Please check these updates in test.biii.eu, by testing, to add new software content.

**case "Collection"**
![image](https://user-images.githubusercontent.com/272781/86516830-2067e000-be24-11ea-9ac3-9c8e07208ea3.png)
![image](https://user-images.githubusercontent

[2020-07-04 16:35] miura commented on #172
@czhci  maybe this is a duplicate of #163 ?

[2020-07-04 16:45] miura commented on #166
"Organisation -> organization" will be implemented in Drupal and we can wait for the upstream changes and our upgrade to next Drupal 8.9.x.

https://www.drupal.org/project/drupal/issues/3138718

... but for "skeltonisation -> skeltonization", it's too technical and we might need to pull request / send patch to the Drupal development community.

[2020-07-04 17:09] miura commented on #171
I tried adding a new twig file and fix but so far (see below), I found that {{content}} token that pipes comment body text into the node is **completely empty** (even though we have those text in the database).  It seems to be that fixing this is not that trivial.

Currently, I am using the twig file name
web/themes/custom/projet/templates/comment--field-give-feedback-on-this-soft--software.html.t

[2020-07-04 17:24] miura commented on #166
Reading more, I think we need to install this add-on to the native stemmer engine.

https://www.drupal.org/project/porterstemmer

I will do this.

[2020-07-04 17:34] miura commented on #152
I confirmed that it's working in the comulis site. I think the search in COMULIS website should point to biii.eu.

[2020-07-04 17:35] #152 closed

[2020-07-04 17:41] miura commented on #137
@joakimlindblad  could you check if your points are now satisfied? I reindexed and cache-recreated biii.eu.

[2020-07-04 18:06] miura commented on #96
https://www.drupal.org/project/broken_link

I will do this.

[2020-07-05 12:42] czhci commented on #172
let's close this for now, and check after #163 is fixed.

[2020-07-05 12:42] #172 closed

[2020-07-05 12:48] czhci commented on #173
test site is okay. I guess the deployment on productino site would do! thanks, Kota!

[2020-07-05 12:55] czhci commented on #174
seems okay on test.biii.eu. Let's check after deployment on prod.

[2020-07-08 09:55] hmenager opened #175 "BIII json export problem"
I have a problem with biii.eu: the json list of softs happens to be badly formatted lately, providing for each tool an HTML link instead of the software name (http://biii.eu/soft?_format=json). Now an entry looks like that:

[code]

@albangaignard also mentions that the test server has the same issue.

[2020-07-08 14:54] PerrineGilloteaux commented on #175
is fixed by https://github.com/NEUBIAS/bise/commit/72e2823ad00d3ca7d81d49fba2b32d7a57a32d0b , pull request to come, checking for any other rest export issues

[2020-07-08 15:35] PerrineGilloteaux commented on #115
nid is actually provided in searchjson export for now .
Example of output from http://biii.eu/searchjsonexport?search_api_fulltext=(?=visualization)&_format=json
[{"title":"Openimadis","search_api_relevance":"12","body":"\u003Cp\u003EOpenImadis stands for Open Image Discovery: A platform for Image Life Cycle Management. It was previously called CID iManage (for Curie Image Database).\u003C\/p\u003

[2020-07-08 15:35] #115 closed

[2020-07-08 15:42] PerrineGilloteaux commented on #126
@delestro @joakimlindblad Hi Joakim and Felipe, could you either share the code of the comulis webpage (so I can check all the field you need are here after the makeover that has been done?)  , or we can organize a specific virtual hackaton to this point and deploy it for good on the comulis website.

[2020-07-08 17:44] miura commented on #175
Looks OK.
Perrine, please avoid closing the issue until it becomes online, at least in the test site.

![image](https://user-images.githubusercontent.com/272781/86952471-56be9b80-c153-11ea-89dc-8e231ace957c.png)

[2020-07-08 17:44] miura commented on #175
I will pull from the test.biii.eu soon.

[2020-07-08 17:59] miura commented on #175
It's now in test.biii.eu.
@hmenager  Please test replacing the pointer to test.biii.eu temporally.

[2020-07-08 18:51] hmenager commented on #175
Looks good to me on the test server. Thank you @PerrineGilloteaux @miura  !

[2020-07-09 00:37] miura commented on #171
It seems that many comments are lost from the database at some point and inconsistency between three tables in the database used for comment data. I will try to look back available database backups to find out when this happened. comment body text is there, but the keys for associating these body text to specific nodes are missing.

[code]

[2020-07-09 07:10] PerrineGilloteaux commented on #175
Hello Kota, many thanks for this , I think did not close it, but when you refer an issue in a commit with words such as "fix", accepting a pull request containing this commit will close the relative issue , I will then try to avoid the list of keywords mentionned here that makes this process automatic
https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issue

[2020-07-12 21:01] joakimlindblad commented on #126
@PerrineGilloteaux
The code is here: https://github.com/delestro/comulis
Afaics we use: nid, body, field_image, title
I just found where the js is in the Site, and can update to move from test -> biii if that is suitable.

[2020-07-12 21:23] joakimlindblad commented on #126
The "all-content-rest" interface seems gone from both main biii and test. The Comulis search uses that to filter out Multimodal things.

[2020-07-12 21:31] joakimlindblad commented on #126
When using "searchjsonexport" I only get 10 entries. Is this an intensional limit? Can I get all somehow?
Also, I get some hits which do not contain much, with relevance 5 and 4.
I get the same hits also in the web interface: http://biii.eu/search?search_api_fulltext=visualization
See here attached image (after Paintera):
![image](https://user-images.githubusercontent.com/25959603/87257001-a2e1470

[2020-08-12 09:16] PerrineGilloteaux opened #177 "test data base giong over quota regularly"
our test database (name not displayed here for security reasons) goes regularly over quota (which is below the one in prod, but still, it reaches sizes welll above the prod one. From MyPHPAdmin tables, it sounds to come from the cache table. For now I have emptied the cache table (TRUNCATE) but this needs to be further investigated (What are the differences ibetwenn the test database and the prod

[2020-09-25 09:46] joakimlindblad opened #179 "Make Page title <title> reflect the name "BioImage Informatics Index""
Transition from BISE -> BIII

Current title is: <title>Bioimage Informatics Search Engine (BISE) | BIII</title>
Desired title: <title>BioImage Informatics Index (BIII)</title> (or similar)

Also, Name should be stated early in https://biii.eu/about  , possibly with a comment on the transition from the BISE name.

[2020-10-09 07:54] PerrineGilloteaux commented on #177
I have truncated Cache data table from biii test database again today
[code]

I do not get why this one is going over quota when the prod one is ok.

[2020-10-19 12:34] albangaignard opened #180 "Inconsistency in tools URLs"
Some of the BIII tools have an interpretable URL, that can be used as external ID, for instance FIJI (http://biii.eu/fiji) and some other are only accessible through internal IDs, for instance ImageM (http://biii.eu/node/1637).

Could this issue be fixed by maybe revising the Drupal website configuration ?

Thanks a lot !
@albangaignard, @PerrineGilloteaux, @hmenager

[2020-10-19 14:20] albangaignard commented on #180
Here is a list of failing URLs : https://gist.github.com/albangaignard/68eca3c594bcc57175f4e268e0ae7700#file-biii_non_resolvable_uris-json

[2020-10-20 09:26] albangaignard commented on #180
Fixed by manually opening and closing the tool descriptions.

[2020-10-20 09:26] #180 closed

[2020-11-05 22:20] joakimlindblad opened #181 "Advanced search for Training Material does not use keywords correctly?"
Hi, I wanted to find our nice training material about tracking, so I go to Advance search, pick in 1st two boxes: Content Type: Training Material, and Operation: Particle Tracking
https://biii.eu/all-content?type=book&field_has_function_target_id%5B%5D=4141&field_type_target_id=All

and I get zero hits.
However, e.g. https://biii.eu/analysis-microtubule-orientation-tracking-imagej-directionality-a

[2021-03-22 09:58] PerrineGilloteaux opened #183 "Training page not editable"
Training Pages as the "Book" type in drupal, and can not be edited as easily as sofwtare entries.
For now, the way to edit them is to access the edit page from this link as confirmed tagger or administrator:
http://biii.eu/admin/content?status=All&type=book&title=&langcode=All, then selct edit.
This should be fixed such that in situ edition can be performed as for software entries.

[2021-09-01 12:10] PerrineGilloteaux commented on #177
Solution for now for admin is to o in phpmyadmin and empty (truncate) cache_* entries from the biii test database. But still an open and worrying problem.

[2021-09-01 12:16] PerrineGilloteaux commented on #126
For  dev here is the code source of the COMULIS webpage -> https://github.com/delestro/comulis

[2021-09-03 09:38] joakimlindblad commented on #126
**Seems to work again! :-)**
Thanks for all the help @miura and @PerrineGilloteaux !

Closing the issue. Documentation of update steps below.
(Note: The "empty hits" issue is still there, will open a separate lower prio github issue for that.)

[code]

[2021-09-03 09:38] #126 closed

[2021-09-03 09:48] joakimlindblad opened #186 "Empty items in response from search_api_fulltext"
When using full text search, in GUI or API, empty items are appearing in the response.
See examples below:

Search for "visualization", empty item with score **5** after "Paintera", and item with score **4** two lines further down.
http://biii.eu/search?search_api_fulltext=visualization
![image](https://user-images.githubusercontent.com/25959603/131985967-6251254e-832a-4ce9-abf1-43b02f148771.png)

[2021-09-03 09:56] PerrineGilloteaux commented on #126
Hi:  the problem was indeed that the res output of both request that you areusing were returning only 10 outputs, thetwo dupal views has been updated to dislpay all items (only rest export views) . The corresponding commit is  334f76f044acf4789fa419ec5644beb4897c4b27

[2021-09-03 10:14] PerrineGilloteaux commented on #179
Hi @joakimlindblad : "Name should be stated early in https://biii.eu/about , possibly with a comment on the transition from the BISE name."-> Fully agree

But where do you see the title? I could not find BISE somewhere on biii.eu or test.biii.eu?  You mean in github ?

[2021-09-03 10:23] PerrineGilloteaux commented on #179
for first point the content of the page are git hub not tracked per se, they are inside the content database , as all other entries.

[2021-09-03 10:27] PerrineGilloteaux commented on #186
I believe it is because it also non software entries , and that the table view than does not have the same field to display (such as dataset or training material, which does not have th field title for example with the exact same machine identifier as for software entries. Two solutions here: either editing the view such that it is restricted to software entries, either adding the matching field f

[2021-09-03 10:39] joakimlindblad commented on #179
<title> of the webpage, see screenshot
![image](https://user-images.githubusercontent.com/25959603/131992760-ff39a484-9f47-49f9-8c32-4cb4c84fa6d2.png)

[2021-09-03 10:40] joakimlindblad commented on #179
So, if it is content of the database, where to file an issue about that? :-) And, more importantly, how to get it changed :-)

[2021-09-03 11:24] joakimlindblad commented on #186
for the biii gui I suggest the latter
it's a free text search, it should give other results than softwares

for the json response, it's enough to include type in the response

[2021-09-03 11:38] joakimlindblad commented on #175
Works. Fix deployed. Closing

[2021-09-03 11:38] #175 closed

[2021-09-22 07:53] miura commented on #174
deployed.

[2021-09-22 07:53] #174 closed

[2021-09-22 07:58] miura commented on #173
deployed.

[2021-09-22 07:58] #173 closed

[2021-09-22 08:01] miura commented on #82
done

[2021-09-22 08:01] #82 closed

[2021-09-22 17:19] miura commented on #179
Hi @joakimlindblad @PerrineGilloteaux

I changed the home page title so it's now there on biii.eu. Please check.
This cannot be changed as a file (or maybe, through structure sync) so it will be like normal contents, only in the database. \

[2021-09-22 17:19] #179 closed

[2021-09-22 17:50] miura commented on #160
I checked again, and probably only this page left.
https://biii.eu/howtocurate

[2021-09-22 18:09] joakimlindblad commented on #179
Yes! Works as it should :-)

Thanks @miura Kota!

/ Joakim

[2021-09-23 13:35] miura commented on #177
Similar error is discussed here:
https://drupal.stackexchange.com/questions/203292/site-got-an-error-after-moving-from-local-to-a-server

But probably the source of the problem is more due to the test site is in developer mode, and that somehow causes a huge cache in the database - which then block the insertion of more data. I switched off the developer mode for the test site, so let’s see.

[2021-09-23 19:06] miura commented on #170
Hi @haesleinhuepf
Do you still experience the same?

[2022-03-31 16:35] PerrineGilloteaux opened #188 "Unpublished software should not be vissible for taggers"
e.g Analyze skeleton proposed http://biii.eu/analyze-skeleton
and http://biii.eu/analyzeskeleton